#container {
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #bcbcbc;
}

#header {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #bcbcbc;
}

#sidebar-left {
    
}

#content {
    
}

#footer {
    
}